* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background-color: lightpink;
    color: hotpink;
}

body.home 
{
    background-image: url("../image/background_1.jpeg");
}
body.biodata {
    background-image: url("../image/background_2.jpeg");
}

body.experience {
    background-image: url("../image/background_2.jpeg");
}

body.education {
    background-image: url("../image/background_1.jpeg");
}

body.family {
    background-image: url("../image/background_2.jpeg");
}
body.gallery {
    background-image: url("../image/background_1.jpeg");
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #7B3F00;
}


.site-header {
    text-align: center;
    font-family: Poppins, sans-serif;
    padding: 40px 20px;
    background-color: lightpink; 
    background-image: url("../image/bg_3.jpg"); 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    border-bottom: 2px solid #7B3F00;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 25px;
    border-bottom: 2px solid #7B3F00;
    padding: 5px;
    background-color: pink;
}

.navbar a {
    text-decoration: none;
    color: #7B3F00;
    font-weight: 500;
}

a:hover {
  background-color: pink;
}

.navbar {
  background-color: pink;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: #7B3F00 ;
  padding: 20px 20px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #7B3F00;
  color: beige;
  border-radius: 25px;
}

.navbar a {
  float: left;
  color: #7B3F00;
  padding: 16px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 25px;
}

.groups {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.fav-card {
    width: 120px;
    height: 120px;
    border-radius: 15px;
    overflow: hidden;
    display: block;
    background: #ffffff; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fav-card:hover {
    transform: translateY(-6px) scale(1.05);
    box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}

.fav-card img {
    width: 150px;
    height: 120px;
    object-fit: cover;
}

.main-content {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 1px;
}

.card {
    background-color: #9F8C76;
    max-width: 750px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    text-align: center;
    margin: 10px;
}

.card {
  background-color: lightpink; 
    background-image: url("../image/bg_3.jpg");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  transition: all 0.4s ease-in-out;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 15px 25px rgba(0,0,0,0.2);
}


.card h2 {
    margin-bottom: 10px;
}

.card p {
    line-height: 1.7;
    margin-bottom: 12px;
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 3px 8px 18px rgba(0,0,0,0.2);
}

.card img {
    width: 150px;
    border-radius: 12px;
    margin-bottom: 12px;
}

.card p {
    font-size: 16px;
    line-height: 1.5;
    color: #7B3F00;
}

.card ul,
.card ol {
    padding-left: 0;   
    margin: 0 auto;            
    list-style-position: inside; 
    text-align: center;
}

.card_img {
    width: 70%;
    margin: auto;
    padding: 20px;
    line-height: 1.8;
    border-radius: 12px;
    text-align: center;
    max-width: 750px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    text-align: center;
    margin: 10px;
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    background-color: lightpink; 
    background-image: url("../image/bg_3.jpg"); 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50px;       
    background-image: url("../image/pfp.jpeg");
    background-size: cover;
    background-position: center;
    border: 4px solid #7B3F00;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.15);
    margin: 0 auto 20px;
}

.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.35s ease;
}

.alert-box {
    background-image: url("../image/bg_3.jpg"); 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    width: 75%;
    max-width: 420px;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    color: #7B3F00;
    font-weight: bold;
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.35s ease, opacity 0.35s ease;
}

.alert-overlay.show {
    opacity: 1;
    pointer-events: all;
}

.alert-overlay.show .alert-box {
    transform: scale(1);
    opacity: 1;
}

.alert-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #7B3F00;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

.alert-btn:hover {
    background: pink;
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: pink;
    border-top: 2px solid #7B3F00;
    border-bottom: 2px solid #7B3F00;
    font-size: 14px;
}

.social-list {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.social-list .item a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background-color: pink;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 3px solid antiquewhite;
    overflow: hidden;
}

.social-list .item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 0;
    scale: 1 0;
    transform-origin: bottom;
    transition: scale 0.5s ease;
}

.social-list .item:hover a::before {
    scale: 1 1;
}

.social-list .icon {
    font-size: 30px;
    color: #7B3F00;
    transition: 0.5s ease;
    z-index: 2;
}

.social-list .item a:hover .icon {
    color: hotpink;
    transform: rotateY(360deg);
}

.social-list .item:nth-child(1) {
    --bg-color: beige;
}

.social-list .item:nth-child(2) {
    --bg-color: beige;
}

.social-list .item:nth-child(3) {
    --bg-color: beige;
}

.social-list .item:nth-child(4) {
    --bg-color: beige;
}


.navbar a.active 
{

    font-weight: 600;
}



@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
        gap: 15px;
    }

    .card {
        padding: 25px;
    }

    .site-header h1 {
        font-size: 24px;
    }
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 10px;
    border-radius: 50px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}

.about-container {
    background-color: #fff;
    border: 2px solid #0077cc;
    padding: 20px;
    border-radius: 8px;
    margin: 10px auto;
    max-width: 800px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.box-container {
    display: flex;
    justify-content: center;  
    gap: 20px;                
    margin-top: 1px;
}

.box {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 200px;
    max-width: 200px;
    border-radius: 15px;
    text-align: left;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.box-container .card {
    width: 250px;     
    max-width: 250px; 
}
.text_deco {
  text-decoration: underline;
}

.experience-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20pxpx auto;
    flex-wrap: wrap;
}

.exp-card {
    width: 300px;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.1);
    gap: 20px;
    background-color: lightpink; 
    background-image: url("../image/bg_3.jpg"); 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
}

.exp-card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 12px;
}

.exp-card p {
    font-size: 16px;
    line-height: 1.5;
    color: #7B3F00;
}

.experience-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px auto;
    flex-wrap: wrap;
}

.exp-card {
    background-color: beige;
    width: 300px;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.exp-card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 3px 8px 18px rgba(0,0,0,0.2);
}

.exp-card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 12px;
}

.exp-card p {
    font-size: 16px;
    line-height: 1.5;
    color: #7B3F00;
}

.family-card-table {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 6px 15px rgba(0,0,0,0.15);
  transition: all 0.4s ease-in-out;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  background-color: lightpink; 
    background-image: url("../image/bg_3.jpg"); 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;

}

.family-card-table:hover {
  transform: translateY(-8px);
  box-shadow: 0px 15px 30px rgba(0,0,0,0.25);
}

table, tr, th, td
        {
            border: 2px solid #7B3F00;
            border-collapse: collapse;
        }
        td
        {
            padding: 20px;
        }
        th
        {
            background-color: pink;
            color: #7B3F00;
            padding: 10px;
        }
        td:nth-child(odd)
        {
            background-color: lightpink;
        }
        td:nth-child(even)
        {
            background-color: antiquewhite; 
        }
        td 
        {
            text-align: center;
        }
        td:hover
        {
            background-color: salmon;
        }

.family-cards {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
}

.family-card {
  width: 250px;
  height: 150px;
  margin: 0 auto;
  background-color: beige;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
  text-align: center;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  background-color: lightpink; 
    background-image: url("../image/bg_3.jpg"); 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
}

.family-card:hover {
  transform: translateY(-8px);
}
.family-card img {
  width: 100%;
  height: 220px;
  margin: 0 auto;
  object-fit: cover;

}

.family-card h4 {
  margin: 10px 0 5px;
}

.family-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.music-btn {
    background-color: antiquewhite;
    color: #7B3F00;
    padding: 12px 25px;
    border: none;
    border-radius: 45px;
    font-size: 14px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    transition: 0.25s ease;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}

.music-btn:hover {
    background-color: #b49d88;
    transform: scale(1.05);
    box-shadow: 0px 5px 12px rgba(0,0,0,0.3);
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 6px; 
  padding: 0; 
}

.gallery-container .card {
  
  background-image: url("../image/bg_3.jpg"); 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: transform 0.2s;
  width: 300px;
  max-width: 250px;
  margin: 0;   
}

.gallery-container .card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.gallery-container .card-info {
  padding: 6px;
  text-align: center;
}

.quick-order-section {
    text-align: center;
    padding: 40px 0;
}

.quick-order-wrapper {
    position: relative;
    max-width: 900px;   
    margin: 0 auto;
}

.quick-order-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 10px;
    scrollbar-width: none;
}

.quick-order-container::-webkit-scrollbar {
    display: none;
}

.quick-card {
    min-width: 180px;
    background: pink;
    background-image: url("../image/bg_3.jpg"); 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    padding: 15px;
    border-radius: 18px;
    box-shadow: 0 10px 22px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.quick-card img {
    width: 100%;
    height: 180px;
    border-radius: 15px;
    object-fit: cover;
}

.quick-card:hover {
    transform: translateY(-6px);
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    font-size: 20px;
    cursor: pointer;
    z-index: 999;          
    background-color: pink;
    z-index: 999999;
}

.left {
    left: -40px;  
    z-index: 9999;         
}

.right {
    right: -40px;          
}

.quick-order-wrapper {
    position: relative;
}

.quick-order-container {
    pointer-events: none;   
}

.quick-order-container * {
    pointer-events: auto;   
}

.scroll-btn left {
    z-index: 999999 !important;
    background-color: pink;

}

.video-row {
    display: flex;
    justify-content: center;   
    gap: 25px;                 
    margin-top: 30px;
}

.video-card {
    width: 320px;               
    background-image: url("../image/bg_3.jpg"); 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.video-card video {
    width: 100%;          
    border-radius: 10px;
}

.scroll-progress {
    width: 80%;
    height: 6px;
    background: #ffffff50;        
    border-radius: 10px;
    margin-top: 15px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.scroll-progress-fill {
    height: 80%;
    width: 0%;
    background: white;          
    border-radius: 10px;
    transition: width 0.2s linear;
}

.custom-list {
    list-style: none;
    padding-left: 0;      
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.custom-list li {
    display: flex;
    align-items: center;
    gap: 5px; 
    text-align: center;
}

.custom-list li::before {
    content: "★";       
    font-size: 10px;
    margin-right: 10px;    
}

.nested-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center; 
}

.nested-list li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nested-list li::before {
    content: "➤";       
    font-size: 12px;
    margin-right: 4px;
}